* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

i {
  cursor: pointer;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.btn-blue {
  color: #ffffff;
  background-color: #0282f9;
  outline: none;
  border: 0;
  text-transform: uppercase;
  font-size: 18px;
  padding: 6px 32px;
  cursor: pointer;
}
.btn-blue:hover {
  background-color: rgba(2, 130, 249, 0.5);
  transition: 0.4s;
}

.btn-footer {
  color: #ffffff;
  background-color: #303030;
  outline: none;
  border: 1px solid #0282f9;
  text-transform: uppercase;
  font-size: 18px;
  padding: 6px 20px;
  cursor: pointer;
}
.btn-footer:hover {
  background-color: rgba(2, 130, 249, 0.8);
  transition: 0.4s;
}

.relative {
  position: relative;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mt-0 {
  margin-top: 0rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.pt-0 {
  padding-top: 0rem;
}

.pb-0 {
  padding-bottom: 0rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.mt-6 {
  margin-top: 6rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.pt-6 {
  padding-top: 6rem;
}

.pb-6 {
  padding-bottom: 6rem;
}

.text-center {
  text-align: center;
}

.disp-flex {
  display: flex;
}

.disp-flex-inline {
  display: inline-flex;
}

header .nav-top {
  background-color: #0282f9;
}
header .nav-top .nav-text-top {
  display: flex;
  justify-content: flex-end;
}
header .nav-top span {
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 5px 0;
  cursor: pointer;
}
header .nav-top span:first-child {
  padding-right: 40px;
}
header .nav-top span i {
  font-size: 18px;
}
header .nav-bottom img {
  width: 85px;
}
header .nav-bottom ul {
  justify-content: space-between;
  align-items: center;
}
header .nav-bottom ul li a {
  color: #1c1c1c;
  text-transform: uppercase;
}
header .nav-bottom ul li a i {
  font-size: 18px;
  color: #0282f9;
}
header .nav-bottom ul li input {
  outline: none;
  border: none;
  font-size: 16px;
  border-bottom: 1px solid #0282f9;
  text-align: right;
}

footer .top-footer {
  background-image: url("../images/footer-bg.jpg");
  background-position: center;
  background-size: cover;
}
footer .top-footer p {
  color: #797979;
  width: 60%;
  margin-right: 10px;
}
footer .top-footer p a {
  color: #0282f9;
}
footer .top-footer .column-left {
  justify-content: space-between;
}
footer .top-footer .column-left .shop {
  margin-top: 10px;
}
footer .top-footer .column-left .col-left ul,
footer .top-footer .column-left .col-centre ul,
footer .top-footer .column-left .col-right ul {
  padding: 0;
  margin-right: 10px;
}
footer .top-footer .column-left .col-left ul li,
footer .top-footer .column-left .col-centre ul li,
footer .top-footer .column-left .col-right ul li {
  color: #797979;
  padding: 2px 0;
  margin: 0;
}
footer .top-footer .column-left .col-left ul li h3,
footer .top-footer .column-left .col-centre ul li h3,
footer .top-footer .column-left .col-right ul li h3 {
  color: #ffffff;
}
footer .top-footer .column-right-img {
  position: relative;
}
footer .top-footer .column-right-img img {
  width: 526px;
  position: absolute;
  top: -8%;
  right: 0%;
  z-index: 0;
}
footer .bottom-footer {
  background-color: #303030;
  position: relative;
  z-index: 1;
}
footer .bottom-footer .social-flex {
  display: flex;
  justify-content: space-between;
}
footer .bottom-footer .list-social li {
  padding-right: 15px;
}
footer .bottom-footer .list-social li:first-child {
  color: #0282f9;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  padding-right: 20px;
  align-self: center;
}
footer .bottom-footer .list-social li i {
  font-size: 20px;
  color: #303030;
  background-color: #797979;
  border-radius: 50%;
  padding: 8px;
}
footer .bottom-footer .list-social li i:hover {
  background-color: rgba(121, 121, 121, 0.6);
  transition: 0.4s;
}

.hero .blue-block {
  background-color: #0282f9;
  height: 20px;
}
.hero .section-hero {
  height: 390px;
  background-image: url("../images/bg-hero-home.jpg");
}
.hero .comic-section {
  background-color: #1c1c1c;
  height: 955px;
}
.hero .comic-section .list-comics {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 2rem;
}
.hero .comic-section .list-comics img {
  width: 100%;
}
.hero .comic-section .list-comics h4 a {
  color: #ffffff;
}
.hero .comic-section button > span {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.hero .comic-section-bottom {
  background-color: #0282f9;
}
.hero .comic-section-bottom ul {
  justify-content: space-between;
  align-content: center;
}
.hero .comic-section-bottom ul li img {
  width: 50px;
  height: 60px;
}

.hero-detail .blue-bar {
  background-color: #0282f9;
  height: 80px;
}
.hero-detail .section-hero {
  height: 390px;
  background-image: url("../images/bg-hero-home.jpg");
}
.hero-detail .comic-section {
  background-color: #ffffff;
  color: #797979;
  display: flex;
}
.hero-detail .comic-section h1 {
  color: #003f5e;
}
.hero-detail .comic-section .text-available {
  padding: 8px;
  width: 80%;
  background-color: #55ba59;
}
.hero-detail .comic-section .text-available li {
  padding-right: 10px;
}
.hero-detail .comic-section .text-available li:first-child {
  margin-right: 160px;
}
.hero-detail .comic-section .description {
  width: 80%;
  font-size: 20px;
}
.hero-detail .comic-section .adv img {
  width: 300px;
}
.hero-detail .comic-section .social-col .list-boxes {
  position: absolute;
  top: -10%;
  right: -135px;
}
.hero-detail .comic-section .social-col .list-boxes .box-blue {
  width: 50px;
  height: 50px;
  background-color: #003f5e;
}
.hero-detail .comic-section .social-col .list-boxes .box-lt-blue {
  width: 50px;
  height: 50px;
  background-color: #20b3dd;
}
.hero-detail .comic-section .social-col .list-boxes .box-red {
  width: 50px;
  height: 50px;
  background-color: #cb2128;
}
.hero-detail .comic-section .social-col .list-boxes .box-orange {
  width: 50px;
  height: 50px;
  background-color: #ff6651;
}
.hero-detail .comic-section .social-col .list-boxes i {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  color: #ffffff;
}

.info-content {
  background: #f6f6f6;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.info-part {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.info-part .talent,
.info-part .specs {
  padding: 20px;
  width: 100%;
  color: #003f5e;
}
.info-part .talent-list,
.info-part .specs-list {
  padding: 0;
}
.info-part .talent-list .talent-item,
.info-part .talent-list .specs-item,
.info-part .specs-list .talent-item,
.info-part .specs-list .specs-item {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
.info-part .talent-list .talent-item span,
.info-part .talent-list .specs-item span,
.info-part .specs-list .talent-item span,
.info-part .specs-list .specs-item span {
  min-width: 300px;
  text-align: left;
}
.info-part .talent-list .talent-item span.black,
.info-part .talent-list .specs-item span.black,
.info-part .specs-list .talent-item span.black,
.info-part .specs-list .specs-item span.black {
  color: #1c1c1c;
}
.info-part .talent-list .talent-item span.blue-lt,
.info-part .talent-list .specs-item span.blue-lt,
.info-part .specs-list .talent-item span.blue-lt,
.info-part .specs-list .specs-item span.blue-lt {
  color: #20b3dd;
}
.info-part .talent-list .talent-item span.blue-lt .dot,
.info-part .talent-list .specs-item span.blue-lt .dot,
.info-part .specs-list .talent-item span.blue-lt .dot,
.info-part .specs-list .specs-item span.blue-lt .dot {
  color: #003f5e;
}
.info-part h3 {
  font-size: 24px;
}

.comic-detailed {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  background: #f6f6f6;
}
.comic-detailed .info-list-bottom {
  padding: 0;
}
.comic-detailed .info-list-bottom .info-item-bottom {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: none;
  padding: 20px;
}
.comic-detailed .info-list-bottom .info-item-bottom a {
  color: #797979;
}
.comic-detailed .info-list-bottom .info-item-bottom a h5 {
  text-transform: uppercase;
  padding-right: 25px;
}