// Styles
li{
    list-style: none;
}
a{
    text-decoration: none;
    cursor: pointer;
}
i{
    cursor: pointer;
}

// Layout
.container{
    max-width: 1170px;
    margin: 0 auto;
}
.btn-blue{
    color: $white-col;
    background-color: $blue-col-homepage;
    outline: none;
    border: 0;
    text-transform: uppercase;
    font-size: 18px;
    padding: 6px 32px;
    cursor: pointer;
        &:hover{
            background-color: rgba($blue-col-homepage , 0.5) ;
            transition: 0.4s;
        }
}
.btn-footer{
    color: $white-col;
    background-color: $footer-bar;
    outline: none;
    border: 1px solid $blue-col-homepage;
    text-transform: uppercase;
    font-size: 18px;
    padding: 6px 20px;
    cursor: pointer;
        &:hover{
            background-color: rgba($blue-col-homepage , 0.8) ;
            transition: 0.4s;
        }
}
.relative{
    position: relative;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

// Spacers
@each $size in 0, 1, 2, 3, 4, 6 {
    .mt-#{ $size }{
        margin-top: $size + 0rem;
    }
    .mb-#{ $size }{
        margin-bottom: $size + 0rem;
    }
    .pt-#{ $size }{
        padding-top: $size + 0rem;
    }
    .pb-#{ $size }{
        padding-bottom: $size + 0rem;
    }
}

// Center text
.text-center{
    text-align: center;
}

// Display-flex 
.disp-flex{ 
    display: flex;    
} 
.disp-flex-inline{
    display: inline-flex;
}


