// Color
$back-home-list: #1c1c1c;
$blue-col-homepage: #0282f9;
$blue-light: #20b3dd;
$h1-det-col: #003f5e;
$white-col: #ffffff;
$footer-bar: #303030;
$gray-col: #797979;
$green-col: #55ba59;
$add-info-det: #f6f6f6;
$red-soc: #cb2128;
$orange-soc: #ff6651;

// Typography 
$main-font: "Nunito", sans-serif;
